@model HSIS_Web.Models.Shell

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shell</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Storage.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Storage.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capasity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capasity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
